.huskyTable{
    min-width: 400px;
    
    .top{
    overflow: hidden;
    margin: 10px;
    .addBtn{
        float: left;
    }
    .searchBox{
        float: right;
        max-width: 280px;
    }
    &:after{
    content: '';
    clear: both;  
    }
}
}